html{
	position: relative;
  min-height: 100%;
	width:100%;
	font-family: 'Cabin', sans-serif;
}
body {
    background: #CFD8DC;
    width:100%;
    height:100%;
    margin: 0 0 120px 0;
}

h1{
	margin:0;
}
.clearer{
	clear:both;
}


nav {
    display: flex;
    text-decoration: none;
    background-color: #607D8B;
    width:100%;
    padding: 20px 0;
}
#nav-sizer{
	margin:0 auto;
	width:85%;
}

#header-title {
    float:left;
    display:inline-block;
}

#menu{
	float:right;
	display:inline-block;
	margin-top: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin:0;
}

nav ul li {
    padding: 0 15px;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

a:active {
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 2px;
}

.selected-link {
    position: relative;
}

.selected-link:after {
		content: '';
		position: absolute;
		width: 50%;
		left: 25%;
		bottom: -.5em;
		border-bottom: 3px solid #009688;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
/********************************************  

		MAIN

********************************************/
#main{
	width:80%;
	margin:0 auto;
}

#main a{
	color: #727272;
}


/********************************************
    
    ME

*********************************************/
#homepage-wrapper{
	margin: 5% auto 0 auto;
	width:80%;
	font-size: 2.5vh;
}

#homepage-left{
	float:left;
	width:45%;
}
#homepage-right{
	float:right;
	width:45%;
}
#homepage-left img{
	border-radius:50%;
	width:300px;
}



/***********************************************


    WORK


************************************************/
#work-page{
	padding-top: 2%;
	font-size: 2.5vh;
}
#work-page img{
	width:200px;
	text-align: center;
}

.project{
	width: 300px;
	display:inline-block;
	margin-bottom: 5%;
}
.project h3{
	margin: 0 0 2% 0;
}
#ga-sum{
	float:left;
	width:30%;
}
#at-ga{
	display: flex;
	flex-wrap:wrap;
	text-align: center;
}
#not-ga-sum{
	float:left;
	width:30%;
}
#not-ga{
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
	text-align: center;
}

#overlay {
    position: fixed;
    left: 15%;
    top: 20%;
    padding: 1% 2%;
    border: 2px solid black;
    background-color: #CFD8DC;
    width: 70vw;
    height: 45vh;
    z-index: 100;
    font-size: 2.5vh;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}
.modal h1{
	margin: 0;
}
.modal img{
	max-width:400px;
	max-height: 90%;
	height:auto;
	float:left;
	clear:right;
	margin-right: 3vw;
}
.modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}

.modal a{
	color: #009688;
}
.xclose{
	font-size: 6vh;
	position: absolute;
	top:2%;
	right:2%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.xclose:hover{
	-webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.modal-links{
	position: absolute;
	bottom:5%;
	right:5%;
	font-size: 3vh;
}
/**********************************************

    CONTACT

***********************************************/

#contactpara {
	float:left;
	width:30%;
	margin-top: 2%;
    font-size:2.25vh;
}

#contactpara i {
	margin-right:1em;
}

#contactpara ul{
	list-style-type: none;
	padding-left: 20px;
}

#contactpara li{
	padding-bottom: .5em;
}

#ajax-contact {
	float:right;
    width: 65%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
		width:100%;
    padding: 0.5em 0.5em;
    margin-top:1em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

textarea {
		margin:1em 0;
    width: 100%;
    height: 200px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

button {
		width:100%;
    margin-left:.7em;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: #009688;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: center;
}

button:hover,
button:focus {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

#form-messages{
    padding: 1em;
    margin-top: 5vh;
    margin-bottom: 0.75rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;

}

.success {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
}


/***************************************

    FOOTER   

****************************************/
footer {
    text-decoration: none;
    background-color: #607D8B;
    padding: 10px 0;
    color:white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
#footer-sizer{
	width:90%;
	margin:0 auto;
}
#music{
	display:flex;
}

#infolinks{
	display:inline-block;
}


#signature{
	display:inline-block;
}

#footer-left{
	float:left;
	display:inline-block;
}

#footer-right{
	float:right;
	display:inline-block;
}

.fa-music{
    padding-right: 2%;
}




/***************************************

	           MEDIA QUERIES

****************************************/

@media (max-width : 1072px) and (min-width: 937px)
 { 
/************** WORK **************/
#ga-sum{
	float:left;
}
#not-ga-sum{
	float:left;
}

.project{
    width:175px;
    margin:0 10px %5 0;

}

#work-page img{
    width:175px;
    text-align: center;
}


/************** ME ****************/
#homepage-wrapper{
    width:90%;
    font-size: 1em;
}

}

@media (max-width : 937px) and (min-width: 550px)
 { 
/************** WORK **************/

.project{
    width:200px;
    margin:0 10px %5 0;

}

#work-page img{
    width:200px;
    text-align: center;
}

/************** ME ****************/
#homepage-left img{
    width:200px;
    margin:0 auto;
}
#homepage-wrapper{
    width:90%;
    font-size: 1em;
}

}

@media (max-width : 550px), (max-device-width: 550px)
 { 
/************** WORK **************/
.project{
    width:200px;
    margin:0 10px %5 0;

}

#work-page img{
    width:200px;
    text-align: center;
}

#work-page{
    padding-top: 2%;
    font-size: 1em;
}
#ga-sum{
    float:none;
    width:100%;
}

#not-ga-sum{
    float:none;
    width:100%;
}

/************** ME ****************/
#homepage-left{
    float:none;
    width:100%;
}

#homepage-left img {
    margin:0 auto;
    display:block;

}
#homepage-right{
    float:none;
    width:100%;
    padding: 5% 0;
}
#homepage-wrapper{
    font-size: 1em;
}


/*********** CONTACT  **************/
#contactpara {
    float:none;
    width:100%;
    margin-top: 2%;
    font-size:1em;
}

#contactpara ul{
    list-style-type: none;
    padding-left: 10px;
}

#contactpara li{
    padding-bottom: .5em;
}

#ajax-contact {
    float:none;
    width: 100%;
    margin-top: 0;
}

#form-messages {
    margin:0;
}
/************ FOOTER ***********/
#music{
    visibility: hidden;
}

}

@media (min-width : 1900px)
 { 

/************** ME ****************/
#homepage-left img{
    width:400px;
}
#homepage-wrapper{
    width:70%;
}
/************** WORK **************/

#work-page img{
    width:300px;
    text-align: center;
}

.project{
    margin:0 10px;

}

}


@media only screen
and (min-height:900px){
/**********************************************

    CONTACT

***********************************************/
#contact-wrapper{
    margin-top: 5vh;
}
input{
    margin-top: 2em;
}
textarea{
    margin:2em 0;
}
}
