html{
	position: relative;
  min-height: 100%;
	width:100%;
	font-family: 'Cabin', sans-serif;
}
body {
    background: #CFD8DC;
    width:100%;
    height:100%;
    margin: 0 0 120px 0;
}

h1{
	margin:0;
}
.clearer{
	clear:both;
}

nav {
    display: flex;
    text-decoration: none;
    background-color: #607D8B;
    width:100%;
    padding: 20px 0;
}
#nav-sizer{
	margin:0 auto;
	width:85%;
}

#header-title {
    float:left;
    display:inline-block;
}

#menu{
	float:right;
	display:inline-block;
	margin-top: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin:0;
}

nav ul li {
    padding: 0 15px;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

a:active {
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 2px;
}

.selected-link {
    position: relative;
}

.selected-link:after {
		content: '';
		position: absolute;
		width: 50%;
		left: 25%;
		bottom: -.5em;
		border-bottom: 3px solid #009688;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
/***************    MAIN     *****************/
#main{
	width:80%;
	margin:0 auto;
}

#main a{
	color: #727272;
}


/***************    ME     *****************/
#homepage-wrapper{
	margin: 5% auto 0 auto;
	width:80%;
}

#homepage-left{
	float:left;
	width:45%;
}
#homepage-right{
	float:right;
	width:45%;
}
#homepage-left img{
	border-radius:50%;
	width:300px;
}
/***************    WORK     *****************/
#work-page img{
	width:200px;
	text-align: center;
}

.project{
	width: 300px;
	padding:5px;
}
#at-ga{
	display: flex;
	flex-wrap:wrap;
	margin:0 auto;
}
#not-ga{
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
}

#overlay {
    position: fixed;
    left: 15%;
    top: 25%;
    padding: 25px;
    border: 2px solid black;
    background-color: #CFD8DC;
    width: 70%;
    height: 50%;
    z-index: 100;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}
.modal img{
	width:300px;
	float:left;
	clear:right;
	margin-right: 10px;
}
.modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}

.modal a{
	color: #009688;
}
.xclose{
	font-size: 30px;
	float:right;
	-webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.xclose:hover{
	-webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/***************    CONTACT   *****************/

#contactpara {
	float:left;
	width:30%;
	margin-top: 2%
}

#contactpara i {
	margin-right:1em;
}

#contactpara ul{
	list-style-type: none;
	padding-left: 20px;
}

#contactpara li{
	padding-bottom: .5em;
}

#ajax-contact {
	float:right;
    width: 65%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
		width:100%;
    padding: 0.5em 0.5em;
    margin-top:1em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

textarea {
		margin:1em 0;
    width: 100%;
    height: 200px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

button {
		width:100%;
    margin-left:.7em;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: #009688;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: center;
}

button:hover,
button:focus {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/***************    FOOTER   *****************/
footer {
    text-decoration: none;
    background-color: #607D8B;
    padding: 10px 0;
    color:white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
#footer-sizer{
	width:90%;
	margin:0 auto;
}
#music{
	display:flex;
}

#infolinks{
	display:inline-block;
}


#signature{
	display:inline-block;
}

#footer-left{
	float:left;
	display:inline-block;
}

#footer-right{
	float:right;
	display:inline-block;
}
