html{
	width:100%;
	height:100%;
	font-family: "courier";
}
body {
    background: #CFD8DC;
    width:100%;
    height:100%;
}

h1{
	margin:0;
}
.clearer{
	clear:both;
}

nav {
    display: flex;
    text-decoration: none;
    background-color: #607D8B;
    width:100%;
    padding: 20px 0;
}
#nav-sizer{
	margin:0 auto;
	width:85%;
}

#header-title {
    float:left;
    display:inline-block;
}

#menu{
	float:right;
	display:inline-block;
	margin-top: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin:0;
}

nav ul li {
    padding: 0 15px;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

a:active {
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 2px;
}

.selected-link {
    position: relative;
}

.selected-link:after {
		content: '';
		position: absolute;
		width: 50%;
		left: 25%;
		bottom: -.5em;
		border-bottom: 2px solid white;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
/***************    MAIN     *****************/
#main{
	width:80%;
	margin:0 auto;
}
/***************    FOOTER   *****************/
footer {
    text-decoration: none;
    background-color: #607D8B;
    padding: 20px 0;
    color:white;
}
#footer-sizer{
	width:90%;
	margin:0 auto;
}
#music{
	display:flex;
}

#infolinks{
	display:inline-block;
}


#signature{
	display:inline-block;
}

#footer-left{
	float:left;
	display:inline-block;
}

#footer-right{
	float:right;
	display:inline-block;
}
