<div id="custom-modal">
  <div id="overlay">
  <a href ng-click="close()"><i class="fa fa-times"></i></a>
	<img src="http://www.fillmurray.com/200/200">
			<p>Our first assignment at General Assembly was to make a Blackjack app using <b>Javascript</b>, <b>HTML</b>, and <b>CSS</b>. I decided to go beyond that. I taught myself <b>Firebase</b>, then added online multiplayer functionality and chat.</p>
			<a href="https://github.com/owenso/blackjack" target="_blank">Github</a> |
			<a href="#" target="_blank">Live Project</a>
      <a href ng-click="close()">Close</a>
  </div>
  <div id="fade"></div>
</div>