<div id="work-page">
	<h2>While at General Assembly</h2>
	<div id="ga_sum">
		<p>During the 3 Months I was in the Web Development Immersive Bootcamp at General Assembly, we were given four projects to complete.</p>
	</div>
	<div id="at-ga">
			<div class="project" id="blackjack">
				<a href ng-click="showBlackjack()"><h3>Blackjack</h3></a>
				<a href ng-click="showBlackjack()"><img src="http://www.fillmurray.com/200/200"></a>
			</div>
			<div class="project" id="makemea">
				<a href ng-click="showMakemea()"><h3>MakeMeA</h3></a>
				<a href ng-click="showMakemea()"><img src="../img/makemea.png"></a>
			</div>
			<div class="project" id="sosnow">
				<a href ng-click="showSosnow()"><h3>SOS NOW</h3></a>
				<a href ng-click="showSosnow()"><img src="../img/sosnow.png"></a>
			</div>
			<div class="project" id="finalproj">
				<a href ng-click="showWorkoutapp()"><h3>Workout Tracker</h3></a>
				<a href ng-click="showWorkoutapp()"><img src="http://www.fillmurray.com/200/200"></a>
			</div>
	</div>
		<h2>Personal Projects</h2>
	<div id="not-ga">
			<div class="project" id="artbyessieo">
				<a href ng-click="showEssieArt()"><h3>ArtByEssieO</h3></a>
				<a href ng-click="showEssieArt()"><img src="../img/artbyessieo.png"></a>
			</div>
			<div class="project" id="weatherchrome">
				<a href ng-click="showChromeWeather()"><h3>Chrome Weather Extension</h3></a>
				<a href ng-click="showChromeWeather()"><img src="../img/chrome_ext.png"></a>
			</div>
	</div>
</div>